{% extends 'base.html' %}
{% block body_block %}
  
  

    <div class="container">
    	<form class="form-horizontal" method="post" id="frmLogin" action="{{ app_path }}">
		{% csrf_token %}
		<fieldset>
		 <!-- Form Name -->
		<header class="clearfix">
		<h1><span>Login to Dashboard!</span> </h1>
		</header>
		<!-- Text input-->
		<div class="control-group">
 		 	<label class="control-label" for="username">Username</label>
  			<div class="controls">
    
     		{% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %} 
    		{{ form.username.errors }}
    		{{ form.username }}
 			 </div>
		</div>

		<!-- Password input-->
		<div class="control-group">
 		 	<label class="control-label" for="password">Password</label>
  			<div class="controls">
    		{% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
     		{{ form.password }}
   		 	<input type="hidden" name="this_is_the_login_form" value="1" />
    		<input type="hidden" name="next" value="{{ next }}" />
 	 		</div>
		</div>

		<!-- Button -->
		<div class="control-group">
  			<label class="control-label" for="submit"></label>
  			<div class="controls">
    		<button id="submit" name="submit" class="btn btn-primary">Login</button>
  			</div>
		</div>

		</fieldset>
	</form>
    <p class="notice"> Not registered? <a href="/register">Sign up</a></p>
	</div> <!-- /container -->
    
    {% endblock %}